body {
  font-family: "Noto Sans", sans-serif;
  color: $highlight;
}

img {
  vertical-align: middle;
}

.mt-120 {
  margin-top: 60px;
  @media (min-width: 768px) {
    margin-top: 120px;
  }
}

.mb-100 {
  margin-bottom: 50px;
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

// form wrap
.inputWrap {
  max-width: 920px !important;
  @media (min-width: 768px) {
    border-radius: 12px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 60px 95px !important;
  }
}

.mainImg {
  width: 350px;
  height: 250px;
}

//  logo
.indexLogo {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 350px;
    height: 235px;
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/js_week5/logo.png?raw=true");
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
}

// form
form {
  input {
    width: 100% !important;
    color: #818a91 !important;
    @media (min-width: 576px) {
      width: 70% !important;
    }
  }
  select {
    width: 100% !important;
    color: #818a91 !important;
    @media (min-width: 576px) {
      width: 70% !important;
    }
  }
  textarea {
    width: 100% !important;
    @media (min-width: 576px) {
      width: 70% !important;
    }
  }
  .submitBtn {
    width: 160px !important;
    color: #ffffff !important;
    border-radius: 5px !important;
    padding: 10px 40px !important;
    transition: all 0.3s ease;
    &:hover {
      color: $highlight !important;
      background: $soft !important;
    }
    @media (min-width: 768px) {
    }
  }
}

// bottom wrap
.travelListWrap {
  max-width: 1100px !important;
  .filterWrap {
    select {
      width: 28%;
      color: #818a91 !important;
      border-color: #ced4da !important;
      border-radius: 4px !important;
    }
    p {
      color: #818a91 !important;
    }
  }
  .card {
    border: none !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    .imgWrap {
      transition: all 0.3s ease;
      img {
        &:hover {
          opacity: 0.7;
        }
      }
      .cityTag {
        color: $white !important;
        background-color: #64c3bf !important;
        top: -12px !important;
        border-radius: 0 3px 3px 0 !important;
      }
      .gradingTag {
        color: $white !important;
        bottom: 4px !important;
        border-radius: 0 3px 3px 0 !important;
      }
    }
    .card-body {
      h4 {
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
    .card-footer {
      border: none !important;
    }
  }
}
